@{
	ViewData["Title"] = "AiBloger";
}
<h1>AiBloger</h1>
<p>Quick links:</p>
<ul>
	<li><a href="/Jobs">Jobs</a></li>
	<li><a href="/News">News</a></li>
	<li><a href="/Post">Post</a></li>
	<li><a href="/Sources">Sources</a></li>
</ul>


